<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: setContent(~{this :: title}, ~{this :: link}, ~{this :: content})}">
<header>
    <title th:text="#{title.list}"></title>
    <th:block th:fragment="link"></th:block>
</header>
<body>
<th:block th:fragment="content">
    <section>
        <div class="container">
            <div class="row border-bottom border-primary-subtle border-4 mb-4 mx-0">
                <div class="col-md px-0 py-md-3 d-flex justify-content-center justify-content-md-start">
                    <span class="mb-0 fs-1 fw-bold text-primary">게시글 목록</span>
                </div>
                <div class="col-md px-0 d-flex justify-content-end py-3">
                    <a class="btn btn-primary px-4 py-3 me-2" th:href="@{/list}"><i class="bi bi-list"></i>&nbsp;<span th:text="#{link.list}">목록</span></a>
                    <a class="btn btn-outline-primary px-4 py-3" th:href="@{/register(page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                       order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}" th:text="#{link.register}">글쓰기</a>
                </div>
            </div>
            <!--table-button-->
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${pageRequestDTO.order == 'recomendNum'? 'active fw-bold':_}"
                           th:href="@{/list(order='recomendNum')}" th:text="#{tab.link.order.recommend}">추천순</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${pageRequestDTO.order == 'viewNum' ? 'active fw-bold':_}"
                           th:href="@{/list(order='viewNum')}" th:text="#{tab.link.order.view}">조회순</a>
                    </li>
                    <th:block th:if="${#authorization.expr('isAuthenticated()')}">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageRequestDTO.my == 'board' ? 'active fw-bold':_}"
                               id="myboard-tab" th:href="@{/list(my='board')}" th:text="#{tab.link.my.board}">내글</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${pageRequestDTO.my == 'comment'?'active fw-bold':_}"
                               id="mycomment-tab" th:href="@{/list(my='comment')}" th:text="#{tab.link.my.comment}">내 댓글</a>
                        </li>
                    </th:block>
                </ul>
            </div>
            <!--list-->
            <ul class="list-group list-group-flush">
                <th:block th:each="dto : ${result.dtoList}">
                    <div class="list-group-item list-group-item-action" th:onclick="|location.href='@{read/{id}(id=${dto.id}, page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}, order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}'|">
                        <div class="row py-lg-1">
                            <div class="col-lg-7">
                                <div class="d-flex fs-5">
                                    <div class="pe-3">[<strong th:text="${dto.id}">댓글 번호</strong>]</div>
                                    <div class="d-inline text-truncate pe-2"><strong th:text="${dto.title}">제목</strong></div>
                                    <div th:if="${dto.hasImage}" class="pe-2"><i class="bi bi-card-image"></i></div>
                                    <div th:if="${dto.commentCount > 0}"><span class="badge rounded-pill bg-primary" th:text="${dto.commentCount}">댓글 수</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 fs-6 opacity-75 text-truncate" th:text="${dto.writer}">작성자</div>
                            <div class="col-lg-3 d-flex justify-content-lg-between opacity-75 fs-6">
                                <div class="pe-3 pe-md-0"><i class="bi bi-hand-thumbs-up"></i>&nbsp;<span th:text="${dto.recomendNum}">추천 수</span></div>
                                <div class="pe-3 pe-md-0"><i class="bi bi-eye"></i>&nbsp;<span th:text="${dto.viewNum}">조회 수</span></div>
                                <div th:text="${#temporals.format(dto.createDate, 'yy-MM-dd HH:mm')}">등록일</div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </ul>

            <div class="d-flex justify-content-end px-0 py-3">
                <a class="btn btn-primary px-4 py-3 me-2" th:href="@{/list}"><i class="bi bi-list"></i>&nbsp;<span th:text="#{link.list}">목록</span></a>
                <a class="btn btn-outline-primary px-4 py-3" th:href="@{/register(page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                       order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}" th:text="#{link.register}">글쓰기</a>
            </div>

            <!--pagination-->
            <div class="table-pagination">
                <ul class="pagination h-100 justify-content-center align-items-center">
                    <li class="page-item" th:if="${result.prev}">
                        <a class="page-link" th:href="@{/list(page=${result.start-1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                            order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}" tabindex="-1"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page: ${result.pageList}"
                        th:class="'page-item' + ${result.page == page? ' active': ''}">
                        <a class="page-link" th:href="@{/list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                            order=${pageRequestDTO.order},my=${pageRequestDTO.my})}" th:text="${page}">페이지번호</a>
                    </li>
                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:href="@{/list(page=${result.end+1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                            order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!--sarch-->
            <form th:action="@{list}" id="searchForm" th:method="get">
                <div class="row my-5 mx-1 justify-content-center">
                    <input type="hidden" name="page" value="1">
                    <div class="col-md-2 p-0 mb-2 mb-md-0">
                        <select class="form-select" name="type">
                            <option value="t" th:selected="${pageRequestDTO.type == 't'}" th:text="#{select.option.title}">제목</option>
                            <option value="c" th:selected="${pageRequestDTO.type == 'c'}" th:text="#{select.option.content}">내용</option>
                            <option value="w" th:selected="${pageRequestDTO.type == 'w'}" th:text="#{select.option.writer}">작성자</option>
                            <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}" th:text="#{select.option.titleAndContent}">제목+내용</option>
                            <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}" th:text="#{select.option.all}">제목+내용+작성자</option>
                        </select>
                    </div>
                    <div class="col-md-5 p-0">
                        <div class="input-group">
                            <input type="text" class="form-control" name="keyword">
                            <button class="btn btn-outline-primary py-1" id="searchBtn" type="button"><i
                                    class="bi bi-search fs-6"></i></button>
                        </div>
                    </div>
                    <input type="hidden" name="order" th:value="${pageRequestDTO.order}">
                    <input type="hidden" name="my" th:value="${pageRequestDTO.my}">
                </div>
            </form>
        </div>
    </section>
    <script th:inline="javascript">
        $(document).ready(function () {
            let searchForm = $("#searchForm");
            $('#searchBtn').click(function () {
                searchForm.submit();
            });
        });

    </script>
</th:block>
</body>
</html>