<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: setContent(~{this :: title}, ~{this :: link}, ~{this :: content})}">
<header>
    <title th:text="#{title.login}">로그인</title>
    <th:block th:fragment="link"></th:block>
</header>
<body>
<th:block th:fragment="content">
    <section>
        <div class="container">
            <div class="mx-auto py-5 px-2 px-sm-3 px-md-4 px-lg-5 login shadow rounded-4" style="max-width: 460px">
                <form id="loginForm" th:action="@{login}" th:method="post">
                    <div class="col-md px-0 py-md-3 d-flex mb-5 justify-content-center">
                        <span class="fs-1 fw-bold"><img th:src="@{assets/img/logo.png}" class="img-fluid"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="username" name="username" type="text" th:placeholder="#{input.placeholder.username}" required/>
                        <label for="username" th:text="#{label.username}">아이디</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="password" name="password" type="password" th:placeholder="#{input.placeholder.password}" required/>
                        <label for="password" th:text="#{label.password}">비밀번호</label>
                    </div>
                    <div class="form-check mb-3 opacity-75">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe">
                        <label class="form-check-label fs-6" for="rememberMe"><small th:text="#{label.rememberMe}">로그인 상태 유지</small></label>
                    </div>
                    <div class="d-grid mb-3">
                        <div class="fs-6 text-danger mb-3" id="errorMsg" th:text="${errorMessage}"></span></div>
                        <button class="btn btn-primary fs-5 py-3" id="loginBtn" type="submit" th:text="#{button.login}"><i class="bi bi-door-open me-1"></i>로그인</button>
                    </div>
                </form>
                <ol class="breadcrumb justify-content-center fs-6 opacity-75">
                    <li class="breadcrumb-item">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                           th:href="@{/find-username}" th:text="#{link.findUsername}">아이디 찾기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                                   th:href="@{/find-password}" th:text="#{link.findPassword}">비밀번호 찾기</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                                   th:href="@{/signup}" th:text="#{link.signUp}">회원 가입</a>
                    </li>
                </ol>
                <span class="d-flex justify-content-center mt-5 opacity-50">social login</span>
                <div class="d-flex justify-content-center social-login-btn-group mt-3">
                    <a class="me-5" th:href="@{/oauth2/authorization/naver}" id="naver" type="button">
                        <img th:src="@{/assets/img/naver.png}" class="rounded-circle" style="width: 70px; height: 70px" alt="">
                    </a>
                    <a class="me-5" th:href="@{/oauth2/authorization/kakao}" id="kakao" type="button">
                        <img th:src="@{/assets/img/kakao.png}" class="rounded-circle" style="width: 70px; height: 70px" alt="">
                    </a>
                    <a class="" th:href="@{/oauth2/authorization/google}" id="google" type="button">
                        <img th:src="@{/assets/img/google.png}" class="rounded-circle border border-1" style="width: 70px; height: 70px" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        $(document).ready(function () {

            let username = $("#username");
            let password = $("#password");
            $("#loginBtn").click(function () {
                if (username.val() == "") {
                    username.addClass("is-invalid");
                    $("#errorMsg").text("아이디를 입력해 주세요.");
                } else {
                    username.removeClass("is-invalid");
                    if (password.val() == "") {
                        password.addClass("is-invalid");
                        $("#errorMsg").text("비밀번호를 입력해 주세요");
                    } else password.removeClass("is-invalid");
                }
            })

        });
    </script>
</th:block>
</body>
</html>