<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout :: setContent(~{this :: title}, ~{this :: link}, ~{this :: content})}">
<header>
    <title th:text="#{title.modify}"></title>
    <th:block th:fragment="link">
        <!-- include summernote css -->
        <link th:href="@{https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.css}" rel="stylesheet">
        <!-- include summernote js -->
        <script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-lite.min.js}"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/lang/summernote-ko-KR.min.js}"></script>
    </th:block>
</header>
<body>
<th:block th:fragment="content">

    <section class="py-5" id="scroll-target">
        <div class="container px-lg-5">
            <div class="mx-auto" style="max-width: 893px">
                <div class="row border-bottom border-secondary mb-4 mx-1 border-4">
                    <div class="col-md px-0 py-md-3 d-flex justify-content-center justify-content-md-start"><h1 th:text="#{title.modify}">게시글 수정</h1></div>
                    <div class="col-md d-flex justify-content-end px-0 py-3">
                        <a class="btn btn-primary" th:href="@{/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword},
                                order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}"><i class="bi bi-list"></i>&nbsp<span th:text="#{link.list}"></span></a>
                    </div>
                </div>
                <form id="modifyForm" th:object="${boardDTO}" th:action="@{/modify}" th:method="post">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:field="*{writer}">
                    <th:block th:object="${pageRequestDTO}">
                        <input type="hidden" th:field="*{page}">
                        <input type="hidden" th:field="*{type}">
                        <input type="hidden" th:field="*{keyword}">
                        <input type="hidden" th:field="*{order}">
                        <input type="hidden" th:field="*{my}">
                    </th:block>

                    <div class="form-group mb-3">
                        <input class="form-control-lg w-100" type="text" th:field="*{title}" required>
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{content}" id="summernote"></textarea>
                    </div>
                    <div class="mt-4 p-3 bg-light">
                        <ul class="fs-6">
                            <li><strong class="text-danger">섬네일을 클릭하시면 본문에 첨부됩니다.</strong></li>
                            <li>이미지는 최대 크기는 10MB 입니다.</li>
                            <li>이미지는 6개까지 업로드가 가능합니다.</li>
                        </ul>
                        <div class="row thumbnailList">
                            <th:block th:each="imageDTO : *{imageDTOList}">
                                <div class='col-6 col-sm-4 col-md-3 col-lg-2' th:data-name="${imageDTO.fileName}" th:data-path="${imageDTO.folderPath}" th:data-uuid="${imageDTO.uuid}">
                                    <button class='btn btn-secondary small imgRemoveBtn' type='button'><i class='bi bi-x-lg w-100 h-100'></i></button>
                                    <img th:data-image_url="${imageDTO.imageURL}" class="img-thumbnail" th:src="|/image?fileName=${imageDTO.thumbnailURL}|">
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" id="inputFile" multiple>
                    </div>
                    <div class="d-flex justify-content-center mt-5">
                        <button type="submit" class="btn btn-primary me-3 rounded" id="modifyBtn" th:text="#{button.modify.complete}">수정 완료</button>
                        <a class="btn btn-secondary rounded" th:href="@{/read(id=${boardDTO.id}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type},
                                keyword=${pageRequestDTO.keyword}, order=${pageRequestDTO.order}, my=${pageRequestDTO.my})}" th:text="#{link.cancel}">취소</a>
                    </div>
                    <div class="box">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: '내용을 입력해 주세요.',
                tabsize: 2,
                height: 500,
                lang: 'ko-KR',
                disableDragAndDrop: true,
                toolbar: [
                    // 글꼴 설정
                    ['fontname', ['fontname']],
                    // 글자 크기 설정
                    ['fontsize', ['fontsize']],
                    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                    ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                    // 글자색
                    ['color', ['forecolor', 'color']],
                    // 표만들기
                    ['table', ['table']],
                    // 글머리 기호, 번호매기기, 문단정렬
                    ['para', ['ul', 'ol', 'paragraph']],
                    // 그림첨부, 링크만들기
                    ['insert', ['link']],
                    // 코드보기, 확대해서보기, 도움말
                    ['view', ['codeview', 'fullscreen', 'help']]
                ],
                // 추가한 글꼴
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],
                // 추가한 폰트사이즈
                fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72'],
            });

            // 이미지 유효성 검사
            function ckeckExtension(fileName, fileSize) {
                let regExp = new RegExp("\\.(bmp|gif|jpg|jpeg|png)$");
                let maxSize = 10485760;
                if (fileSize >= maxSize) {
                    alert(fileName + "파일크기 초과!");
                    return false;
                }
                if (!regExp.test(fileName)) {
                    alert(fileName + "는 이미지 파일이 아닙니다.");
                    return false;
                }
                return true;
            }

            // 썸내일 출력
            function showThumbnailList(ImageDTOList) {
                let thumbnailList = $(".thumbnailList");
                let str = "";
                $(ImageDTOList).each(function (i, ImageDTO) {
                    str += "<div class='col-6 col-sm-4 col-md-3 col-lg-2' data-name='" + ImageDTO.fileName + "' data-path='" + ImageDTO.folderPath + "' data-uuid='" + ImageDTO.uuid + "'>";
                    str += "    <button class='btn btn-secondary small imgRemoveBtn' type='button'><i class='bi bi-x-lg w-100 h-100'></i></button>"
                    str += "    <img data-image_url='" + ImageDTO.imageURL + "' class='img-thumbnail' src='/image?fileName=" + ImageDTO.thumbnailURL + "'>";
                    str += "</div>";
                });
                thumbnailList.append(str);
            }

            //이미지 업로드
            $("#inputFile").change(function () {
                let formData = new FormData();
                let inputFile = $(this);
                let files = inputFile[0].files;
                let appended = false;
                let limitNum = 6;
                let leftNum = limitNum - $(".thumbnailList").children().length;
                if (leftNum < 1 || files.length > leftNum){
                    alert("최대 6개까지 업로드할 수 있습니다.")
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    if (!ckeckExtension(files[i].name, files[i].size)) return false;
                    console.log(files[i]);
                    formData.append("images", files[i]);
                    appended = true;
                }
                if (!appended) return;
                $.ajax({
                    url: '/image',
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: 'post',
                    dataType: 'json',
                    success: function (ImageDTOList) {
                        console.log(ImageDTOList);
                        showThumbnailList(ImageDTOList);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            });

            // 원본이미지 삽입
            $(".thumbnailList").on("click", "img", function () {
                let imageURL = $(this).data("image_url");
                $('#summernote').summernote('insertImage', '/image?fileName=' + imageURL, function ($image) {
                    $image.addClass('img-fluid');
                });
            });

            //이미지 삭제
            $(".thumbnailList").on("click", "button", function () {
                let li = $(this).parent();
                let fileName = $(this).next().data("image_url");
                $.ajax({
                    url: '/image/'+fileName,
                    type: 'delete',
                    success: function () {
                        li.remove();
                        $("img[src ='/image?fileName=" + fileName + "']").remove();
                    }
                });
            });

            $('#modifyForm').submit(function () {
                var str = "";
                $(".thumbnailList div").each(function (i, ImageDTO) {
                    let target = $(ImageDTO);
                    str += "<input type='hidden' name='imageDTOList[" + i + "].fileName' value='" + target.data('name') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].folderPath' value='" + target.data('path') + "'>";
                    str += "<input type='hidden' name='imageDTOList[" + i + "].uuid' value='" + target.data('uuid') + "'>";
                });
                $(".box").html(str);
                $("textarea[name='content']").val($('#summernote').summernote('code'));
                return true;
            });
        });
    </script>
</th:block>
</body>
</html>