<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout :: setContent(~{this :: title}, ~{this :: link}, ~{this :: content})}">
<header>
    <title th:text="#{title.findPassword}">Notice Board FindPassword</title>
    <th:block th:fragment="link"></th:block>
</header>
<body>
<th:block th:fragment="content">
    <div class="container px-lg-5">
        <div class="m-auto singup" style="max-width: 500px">
            <div class="row border-bottom border-secondary mb-4 mx-1 border-4">
                <div class="px-0 py-2 py-md-3 d-flex justify-content-center justify-content-md-start"><h1 th:text="#{title.findPassword}">비밀번호 찾기</h1>
                </div>
            </div>
            <form th:method="post" th:action="@{/find/password}" th:object="${memberDTO}">
                <div class="form-floating mb-3">
                    <input class="form-control" id="username" th:field="*{username}" type="text" placeholder="아이디"/>
                    <label for="username">아이디</label>
                    <div class="invalid-feedback" style="font-size: 0.7em"></div>
                </div>
                <div class="input-group">
                    <div class="form-floating w-75">
                        <input class="form-control" id="email" th:field="*{email}" type="email" placeholder="이메일"/>
                        <label for="email">이메일</label>
                        <div class="valid-feedback" style="font-size: 0.7em"></div>
                        <div class="invalid-feedback" style="font-size: 0.7em"></div>
                    </div>
                    <button class="btn btn-primary small w-25 px-2 py-1 mt-3" style="height: 56px" id="sendCodeBtn"
                            type="button">인증번호 받기
                    </button>
                </div>
                <div class="form-floating mb-5">
                    <input class="form-control" id="code" maxlength="6" th:field="*{code}" type="number" placeholder="인증번호"/>
                    <label for="code">인증번호</label>
                    <div class="valid-feedback" style="font-size: 0.7em">인증이 성공하였습니다.</div>
                    <div class="invalid-feedback" style="font-size: 0.7em">인증번호가 일치하지 않습니다.</div>
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary fs-5" id="findPasswordBtn" type="button">비밀번호 찾기</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="passwordModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">아이디</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {

            <!--아이디 유효성 검사-->
            let usernameElement = $("#username");
            usernameElement.focusout(function () {
                let username = usernameElement.val();
                let invalidFeedback = usernameElement.siblings(".invalid-feedback");
                let regExp = RegExp(/^[A-Za-z0-9_\-]{5,20}$/);
                if (username == "") {
                    invalidFeedback.text("아이디를 입력해 주세요.");
                    usernameElement.removeClass("is-valid");
                    usernameElement.addClass("is-invalid");
                } else {
                    if (regExp.test(username)) {
                        $.ajax({
                            url: '/check/username',
                            method: 'get',
                            data: {username: username},
                            success: function (result) {
                                if (result) {
                                    usernameElement.removeClass("is-invalid");
                                    usernameElement.addClass("is-valid");

                                } else {
                                    invalidFeedback.text("존재하지 않는 아이디입니다.");
                                    usernameElement.removeClass("is-valid");
                                    usernameElement.addClass("is-invalid");
                                }
                            }
                        });
                    } else {
                        invalidFeedback.text("5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다.");
                        usernameElement.removeClass("is-valid");
                        usernameElement.addClass("is-invalid");
                    }
                }
            });


            <!--이메일 유효성 검사-->
            let emailElement = $('#email');
            emailElement.focusout(function () {
                let email = emailElement.val();
                let invalidFeedback = emailElement.siblings(".invalid-feedback");
                let regExp = RegExp(/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i);
                if (email == "") {
                    invalidFeedback.text("이메일을 입력해 주세요.");
                    emailElement.removeClass("is-valid");
                    emailElement.addClass("is-invalid");
                } else {
                    if (!regExp.test(email)) {
                        invalidFeedback.text("이메일을 다시 확인해 주세요");
                        emailElement.removeClass("is-valid");
                        emailElement.addClass("is-invalid");
                    } else {
                        $('#sendCodeBtn').removeAttr("disabled")
                        emailElement.removeClass("is-invalid");
                        emailElement.addClass("is-valid");
                    }
                }
            });

            <!-- 이메일 인증번호 발송 -->
            $('#sendCodeBtn').click(function () {
                if (emailElement.hasClass("is-valid")) {
                    let email = emailElement.val();
                    let username = usernameElement.val()
                    let invalidFeedback = emailElement.siblings(".invalid-feedback");
                    let validFeedback = emailElement.siblings(".valid-feedback");
                    if (emailElement.hasClass("is-valid")) {
                        $.ajax({
                            url: '/password/email',
                            method: 'POST',
                            data: {email: email, username: username},
                            success: function (result) {
                                validFeedback.text(result)
                            }, error: function (jqXHR) {
                                invalidFeedback.text(jqXHR.responseText);
                                emailElement.removeClass("is-valid");
                                emailElement.addClass("is-invalid");
                            }
                        });
                    }
                }
            });

            <!-- 인증번호 유효성 검사 -->
            let codeElement = $('#code');
            codeElement.focusout(function () {
                let code = codeElement.val();
                let email = emailElement.val();
                let validFeedback = codeElement.siblings(".valid-feedback");
                let invalidFeedback = codeElement.siblings(".invalid-feedback");
                if (code == "") {
                    invalidFeedback.text("인증번호를 입력해 주세요.");
                    codeElement.removeClass("is-valid");
                    codeElement.addClass("is-invalid");
                } else {
                    $.ajax({
                        url: "/check/code",
                        method: 'get',
                        data: {email: email, code: code},
                        success: function (result) {
                            if (result.first) {
                                validFeedback.text(result.second);
                                codeElement.removeClass("is-invalid");
                                codeElement.addClass("is-valid");
                            } else {
                                validFeedback.text(result.second);
                                codeElement.removeClass("is-valid");
                                codeElement.addClass("is-invalid");
                            }
                        }
                    })
                }
            });

            <!--form 유효성 검사-->
            $("#findPasswordBtn").click(function () {
                let isUsernameValid = usernameElement.hasClass("is-valid");
                let isEmailValid = emailElement.hasClass("is-valid");
                let iscodeValid = codeElement.hasClass("is-valid")
                let modal = $("#passwordModal");
                if (isUsernameValid && isEmailValid && iscodeValid) {
                    let data = {email: emailElement.val(), username: usernameElement.val(), code: codeElement.val()};
                    $.ajax({
                        url: '/find/password',
                        method: 'post',
                        data: data,
                        success: function (result) {
                            console.log(result);
                            $(".modal-body").html("<h5>임시 비밀번호: " + result + "</h5>");
                            modal.modal('show');
                        },
                        error: function (jqXHR) {
                            console.log(jqXHR.responseText);
                            $(".modal-body").html("<span>" + jqXHR.responseText + "</span>");
                            modal.modal('show');
                        }
                    });
                }
            });
        })
    </script>
</th:block>
</body>
</html>