<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <div class="form" style="max-width: 480px">
      <div class="d-flex justify-content-center">
        <h1 class="pb-3 m-auto"><b>아이디 찾기</b></h1>
      </div>
      <div class="form-group">
        <h5><strong>이름</strong></h5>
        <input type="text" name="name"  placeholder="이름">
        <span id="nameMsg"></span>
      </div>
      <div class="form-group">
        <h5><strong>본인확인 이메일</strong></h5>
        <div class="row">
          <div class="pr-1 col-8"><input type="email" name="email"  placeholder="이메일"></div>
          <div class="pl-1 col-4"><button class="px-0 but special fit small" id="emailbtn" type="button">인증번호  받기</button></div>
        </div>
        <input type="text" maxlength="6" name="authNum" placeholder="인증번호를 입력하세요">
        <span id="emailMsg"></span>
      </div>
      <button type="button" class="btn special fit submitBtn">아이디 찾기</button>
      <div class="d-flex justify-content-center idBox">
      </div>
    </div>
  <style>
      .form{
        margin: 150px auto;
      }
    </style>
    <script th:inline="javascript">
      $(document).ready(function () {
        let checkName = false;
        let checkEmail = false;

        $(".submitBtn").click(function (){
          if(checkName & checkEmail){
            let data = {
              name: $("input[name='name']").val(),
              email: $("input[name='email']").val()
            }
            $.ajax({
              url: '/find/username',
              method: 'post',
              data: JSON.stringify(data),
              dataType: 'text',
              contentType: 'application/json; charset=utf-8',
              success: function (result) {
                $(".idBox").css("margin-top", "30px").css("border", "1px solid red");
                $(".idBox").html("<h3 style='text-transform: none; margin: 50px auto'><strong>아이디:   "+result+"</strong></h3>");
              },
              error(result){
                if(result.responseText == "fail"){
                  $(".idBox").css("margin-top", "30px").css("border", "1px solid red");
                  $(".idBox").html("<h5 style='text-transform: none; margin: 50px auto'><strong>아이디를 찾을 수 없습니다.</strong></h5>");
                }
              }
            });
          }
        });

        $("#emailbtn").click(function () {
          $.ajax({
            url: '/check/email',
            method: 'post',
            data: {email:$("input[name='email']").val()},
            success: function (data){
              let code = data;
              $("#emailMsg").css({"color":"blue","font-size":"0.8em"})
                      .text("해당메일로 인증번호를 발송되었습니다.")

              // 코드가 일치하는지 확인
              $("input[name='authNum']").blur(function (){
                if(code == this.value) {
                  $("#emailMsg").css({"color": "blue", "font-size": "0.8em"})
                          .text("인증이 완료되었습니다.")
                  checkEmail = true;
                }else {
                  $("#emailMsg").css({"color": "red", "font-size": "0.8em"})
                          .text("인증번호가 일치하지 않습니다.")
                  checkEmail = false;
                }
              });
            },
            error: function (request,status,error) {
              $("#emailMsg").css({"color": "red", "font-size": "0.8em"})
                      .text("이메일을 다시 확인해 주세요.")
              checkEmail = false;
            }
          });
        });

        $("input[name='name']").blur(function () {
          let name = this.value;
          let msg = $("#nameMsg");
          let exp = RegExp(/^[가-힣]{2,6}$/);
          if(name == ""){
            msg.css({"color":"red","font-size":"0.8em"})
                    .text("이름을 입력해 주세요.")
            checkName = false;
          }else {
            if(!exp.test(name)) {
              msg.css({"color":"red","font-size":"0.8em"})
                      .text("이름을 다시 확인해 주세요");
              checkName = false;
            }else{
              msg.text("");
              checkName = true;
            }
          }
        });
      });
    </script>
  </th:block>
</th:block>
