<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout :: setContent(~{this :: title}, ~{this :: link}, ~{this :: content})}">
<header>
    <title th:text="#{title.findUsername}">Notice Board FindUsername</title>
    <th:block th:fragment="link"></th:block>
</header>
<body>
<th:block th:fragment="content">
    <div class="container px-lg-5">
        <div class="m-auto singup" style="max-width: 500px">
            <div class="row border-bottom border-secondary mb-4 mx-1 border-4">
                <div class="px-0 py-2 py-md-3 d-flex justify-content-center justify-content-md-start"><h1 th:text="#{title.findUsername}">아이디 찾기</h1>
                </div>
            </div>
            <form th:method="post" th:action="@{/find/username}" th:object="${memberDTO}">
                <div class="form-floating mb-3">
                    <input class="form-control" id="name" th:field="*{name}" type="text" placeholder="이름"/>
                    <label for="name">이름</label>
                    <div class="invalid-feedback" style="font-size: 0.7em"></div>
                </div>
                <div class="input-group">
                    <div class="form-floating w-75">
                        <input class="form-control" id="email" th:field="*{email}" type="email" placeholder="이메일"/>
                        <label for="email">본인확인 이메일</label>
                        <div class="valid-feedback" style="font-size: 0.7em"></div>
                        <div class="invalid-feedback" style="font-size: 0.7em"></div>
                    </div>
                    <button class="btn btn-primary small w-25 px-2 py-1 mt-3" style="height: 56px" id="sendCodeBtn" type="button">
                        인증번호 받기
                    </button>
                </div>
                <div class="form-floating mb-5">
                    <input class="form-control" id="code" maxlength="6" th:field="*{code}" type="number" placeholder="인증번호"/>
                    <label for="code">인증번호</label>
                    <div class="valid-feedback" style="font-size: 0.7em"></div>
                    <div class="invalid-feedback" style="font-size: 0.7em"></div>
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary fs-5" id="findUsernameBtn" type="button">아이디 찾기</button>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {


            <!--이름 유효성 검사-->
            let nameEelement = $('#name');
            nameEelement.focusout(function () {
                let name = nameEelement.val();
                let invalidFeedback = nameEelement.siblings(".invalid-feedback");
                let regExp = RegExp(/^[가-힣]{2,6}$/);
                if (name == "") {
                    invalidFeedback.text("이름을 입력해 주세요.");
                    nameEelement.removeClass("is-valid");
                    nameEelement.addClass("is-invalid");
                } else {
                    if (regExp.test(name)) {
                        nameEelement.removeClass("is-invalid");
                        nameEelement.addClass("is-valid");
                    } else {
                        invalidFeedback.text("이름을 다시 확인해 주세요");
                        nameEelement.removeClass("is-valid");
                        nameEelement.addClass("is-invalid");
                    }
                }
            });

            <!--이메일 유효성 검사-->
            let emailEelement = $('#email');
            emailEelement.focusout(function () {
                let email = emailEelement.val();
                let invalidFeedback = emailEelement.siblings(".invalid-feedback");
                let regExp = RegExp(/^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i);
                if (email == "") {
                    invalidFeedback.text("이메일을 입력해 주세요.");
                    emailEelement.removeClass("is-valid");
                    emailEelement.addClass("is-invalid");
                } else {
                    if (!regExp.test(email)) {
                        invalidFeedback.text("이메일을 다시 확인해 주세요");
                        emailEelement.removeClass("is-valid");
                        emailEelement.addClass("is-invalid");
                    } else {
                        $('#sendCodeBtn').removeAttr("disabled")
                        emailEelement.removeClass("is-invalid");
                        emailEelement.addClass("is-valid");
                    }
                }
            });

            <!-- 이메일 인증번호 발송 -->
            $('#sendCodeBtn').click(function () {
                if (emailEelement.hasClass("is-valid")) {
                    let email = emailEelement.val();
                    let name = nameEelement.val();
                    let invalidFeedback = emailEelement.siblings(".invalid-feedback");
                    let validFeedback = emailEelement.siblings(".valid-feedback");
                    if (emailEelement.hasClass("is-valid")) {
                        $.ajax({
                            url: '/username/email',
                            method: 'POST',
                            data: {email: email, name: name},
                            success: function (result) {
                                validFeedback.text(result)
                            }, error: function (jqXHR) {
                                invalidFeedback.text(jqXHR.responseText);
                                emailEelement.removeClass("is-valid");
                                emailEelement.addClass("is-invalid");
                            }
                        });
                    }
                }
            });

            <!-- 인증번호 유효성 검사 -->
            let codeEelement = $('#code');
            codeEelement.focusout(function () {
                let code = codeEelement.val();
                let email = emailEelement.val();
                let validFeedback = codeEelement.siblings(".valid-feedback");
                let invalidFeedback = codeEelement.siblings(".invalid-feedback");
                if (code == "") {
                    invalidFeedback.text("인증번호를 입력해 주세요.");
                    codeEelement.removeClass("is-valid");
                    codeEelement.addClass("is-invalid");
                } else {
                    $.ajax({
                        url: "/check/code",
                        method: 'get',
                        data: {email: email, code: code},
                        success: function (result) {
                            if (result.first) {
                                validFeedback.text(result.second);
                                codeEelement.removeClass("is-invalid");
                                codeEelement.addClass("is-valid");
                            } else {
                                validFeedback.text(result.second);
                                codeEelement.removeClass("is-valid");
                                codeEelement.addClass("is-invalid");
                            }
                        }
                    })
                }
            });

            <!--아이디 찾기-->
            $("#findUsernameBtn").click(function () {
                let isNameValid = nameEelement.hasClass("is-valid");
                let isEmailValid = emailEelement.hasClass("is-valid");
                let isCodeValid = codeEelement.hasClass("is-valid");
                if (isNameValid && isEmailValid && isCodeValid) {
                    let data = {name: nameEelement.val(), email: emailEelement.val(), code: codeEelement.val()};
                    let modal = $("#usernameModal");
                    $.ajax({
                        url: '/find/username',
                        method: 'post',
                        data: data,
                        success: function (result) {
                            console.log(result);
                            $(".modal-body").html("<h4>" + result + "</h4>");
                            modal.modal('show');
                        },
                        error: function (jqXHR) {
                            console.log(jqXHR.responseText);
                            $(".modal-body").html("<span>" + jqXHR.responseText + "</span>");
                            modal.modal('show');
                        }
                    });
                }
            });
        })
    </script>
</th:block>
</body>
</html>